<h1 class="text-white font-semibold md:font-bold text-4xl md:text-7xl py-10 text-center">Register Here</h1>
<div class="flex flex-col justify-center items-center">

    <div class="md:w-2/4 mx-auto">
        <h1 class="text-xl md:text-4xl font-semibold text-zinc-400 text-center my-10">Contact Information</h1>
        <form action="submit">
            <input type="text" placeholder="Full Name" 
                class="bg-black placeholder-zinc-500  text-slate-100 border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500"><br>

            <input type="email" placeholder="Email Address"
                class="bg-black placeholder-zinc-500  text-slate-100 border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500"><br>

            <textarea type="text" placeholder="Career Objective" maxlength="300"
                class="bg-black placeholder-zinc-500  text-slate-100 border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500"></textarea><br>

            <input type="text" placeholder="Contact Number"
                class="bg-black placeholder-zinc-500  text-slate-100 border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500"><br>

        </form>

    </div>
    <div class="md:w-2/4 mx-auto">
        <h1 class="text-xl md:text-4xl font-semibold text-zinc-400 text-center my-10">Educational Information</h1>
        <form action="submit">
            <input type="text" placeholder="High School"
                class="bg-black placeholder-zinc-500  text-slate-100 border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500">
            <br>
            <input type="text" placeholder="Senior Secondary"
                class="bg-black placeholder-zinc-500  text-slate-100 border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500">
            <br>
            <input type="text" placeholder="College Qualification"
                class="bg-black placeholder-zinc-500 text-slate-100  border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500">
            <br>
            <input type="text" placeholder="Current CGPA/ Percentage"
                class="bg-black placeholder-zinc-500  text-slate-100 border border-violet-600 text-center rounded-lg text-xl md:text-3xl my-5 py-1 w-full transition border-color duration-300 hover:border-purple-500">
            <br>
        </form>

    </div>
    <button type="submit" class="text-black font-bold text-xl md:text-3xl  p-3  w-40 md:w-52 mx-autotext-black bg-white px-5 py-2  my-5 rounded-lg">Submit</button>

</div>